
.sliderSection .slideItems>div>img{
    width: 110%;
}
.sliderSection>.container-fluid>.row{
    overflow: hidden;
    position: relative;
}
.slideItems{
    padding: 0px;
    display: flex
}
.slideItems>div{
    flex-shrink: 0;
    width: 100%;
}
.sliderSection>.container-fluid>.row:hover .prevbtn ,
.sliderSection>.container-fluid>.row:hover .nextbtn {
opacity: 1;
}
.prevbtn , .nextbtn{
    position: absolute;
    top: 50%;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    color: white;
    transform: translateY(-50%);
    transition: opacity 0.5s ease-in-out;
}
.prevbtn{
    left: 30px;
}
.nextbtn{
    right: 30px;
}